:root {
  --header-margin-left: 10rem;
  --header-padding-horizontal: 4rem;
}

/* 1408x1056 */
@media screen and (max-width: 1408px) {
  :root {
    --header-margin-left: 10rem;
    --header-padding-horizontal: 4rem;
  }
}

/* 1216x852 */
@media screen and (max-width: 1216px) {
  :root {
    --header-margin-left: 9rem;
    --header-padding-horizontal: 3.5rem;
  }
}

/* 1024x600 */
@media screen and (max-width: 1024px) {
  :root {
    --header-margin-left: 8rem;
    --header-padding-horizontal: 3rem;
  }
}

/* 768x480 */
@media screen and (max-width: 768px), print {
  :root {
    --header-margin-left: 6rem;
    --header-padding-horizontal: 2rem;
  }
}

/* 768x480 */
@media screen and (max-width: 412px), print {
  :root {
    --header-margin-left: 2rem;
    --header-padding-horizontal: 1rem;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: calc(100% - var(--header-margin-left));
  height: 100%;

  margin-left: var(--header-margin-left);
  padding-left: var(--header-padding-horizontal);
  padding-right: var(--header-padding-horizontal);
  
  border-left: 1em solid #ece6e4;

  color: aliceblue;
  
  font-size: calc(25px + 1vmin);
}

.Header h1 {
  font-family: 'Cinzel';
  font-weight: 100;
  text-shadow: 5px 5px 1rem #ffffff;
  margin-top: 0px;
}

.Header h2 {
  margin-top: 0;
}

.Header>div {
  cursor: pointer;
  font-family: 'Cinzel';
  font-weight:600;

  padding-left: 1rem;
  margin-bottom: 10rem;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;

  color: #ece6e4;

  transition: all 1000ms ease;
}

.Header>div:hover {
  transition: all 1000ms ease;
}

.Hover {
  padding-left: 2rem;
  transition: all 1000ms ease;
}

.Normal {
  padding-left: 1rem;
  transition: all 1000ms ease;
}