.SideBar {
  position: fixed;
  bottom: 1em;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 3rem;
  margin-bottom: 1rem;

  color: aliceblue;

  font-size: 38px;
}

.SideBar a {
  color: aliceblue;
  
  margin-bottom: 0.1rem;
}

.SideBar div {
  border-right: 0.1rem solid aliceblue;
  width: 0.9em;
  height: 5em;

  margin-bottom: 0.2rem;
}