/* --text: #120e0c;
--background: #ece6e4;
--primary: #40302b;
--secondary: #e6dddb;
--accent: #372925; */

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  height: 100vh;
  width: 100vw;
}