:root {
  font-size: 1em;
  --body-padding-horizontal: 6rem;
  --container-margin-vertical: 3rem;
  --row-margin-vertical: 1rem;
}

/* 1408x1056 */
@media screen and (max-width: 1408px) {
  :root {
    font-size: 1em;
    --body-padding-horizontal: 6rem;
    --container-margin-vertical: 3rem;
  }
}

/* 1216x852 */
@media screen and (max-width: 1216px) {
  :root {
    font-size: 1em;
    --body-padding-horizontal: 6rem;
    --container-margin-vertical: 3rem;
  }
}

/* 1024x600 */
@media screen and (max-width: 1024px) {
  :root {
    font-size: 1em;
    --body-padding-horizontal: 6rem;
    --container-margin-vertical: 3rem;
  }
}

/* half screen */
@media screen and (max-width: 958px) {
  :root {
    font-size: 0.8em;
    --body-padding-horizontal: 6rem;
    --container-margin-vertical: 3rem;
  }
}

/* 768x480 */
@media screen and (max-width: 768px), print {
  :root {
    font-size: 0.8em;
    --body-padding-horizontal: 6rem;
    --container-margin-vertical: 3rem;
  }
}

.body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;

  margin-left: var(--body-padding-horizontal);
  margin-right: var(--body-padding-horizontal);

  width: calc(100% - 2*var(--body-padding-horizontal));
  min-height: 645px;
  height: 75vh;
}

.left_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  padding-left: calc(2rem);
}

/* Half screen */
@media screen and (max-width: 958px) {
  .body {
    justify-content: center;
  }

  .left_box {
    padding: 0;
  }
}

.center_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;

  padding: 2rem;
}

.column_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  overflow: auto;

  padding-left: calc(2rem);
  padding-right: calc(2rem);
}

.full_size {
  width: 100%;
  height: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  width: 632px;
  height: auto;
  padding: 2rem;
}

.color_background {
  z-index: 10;
  background-color: var(--background);
}

.row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;

  margin: 0.5rem 0rem;
}

.row__inactive {
  width: 100%;
  height: 4.5rem;

  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 0.3rem;
  transition: all 0.3s ease-in;
}

.row__active {
  width: 100%;
  height: 20rem;

  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.3rem solid var(--accent);
  transition: all 0.3s ease-in;
}

.grid_container {
  width: 100%;
  height: 100%;

  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(12, 1fr);

  grid-template-areas: 
    "h  h  h  h  h  h  h  h  h  h  h  h"
    "c1 c1 c1 c1 c1 c1 c1 c1 c0 c0 c0 c0"
    "c1 c1 c1 c1 c1 c1 c1 c1 c0 c0 c0 c0"
    "c1 c1 c1 c1 c1 c1 c1 c1 c0 c0 c0 c0"
    "c1 c1 c1 c1 c1 c1 c1 c1 c2 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c1 c2 c2 c2 c2"
    "c1 c1 c1 c1 c1 c1 c1 c1 c2 c2 c2 c2"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4"
    "c3 c3 c3 c3 c3 c3 c3 c4 c4 c4 c4 c4";
}

.grid_header {
  grid-area: h;
}

.grid_item_a {
  grid-area: c1;
}

.grid_item_b {
  grid-area: c0;
}

.grid_item_c {
  grid-area: c2;
}

.grid_item_d {
  grid-area: c3;
}

.grid_item_e {
  grid-area: c4;
}

.grid_item_b > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.2rem;
}

.grid_item_c > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 1rem;
  margin: 0.2rem;
}

.grid_item_d > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 1rem;
  margin: 0.5rem;
}

.grid_item_e > h3 {
  width: 100%;
  padding: 0rem 1rem;
  margin: 0.2rem;
}

.grid_item_e > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
}

.sector {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 0rem;

  border: 0.2rem solid var(--accent);
  border-radius: 1rem;
}

.sector > h1 {
  position: absolute;
  z-index: 1;
  top: -0.8rem;
  left: 1rem;

  margin: 0;
  padding: 0rem 0.5rem;
  background-color: var(--secondary);

  font-weight: 100;
}

.bar {
  width: 100%;
  height: 0.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent);
}

.row > .title {
  display:flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
}

.row > .main__inactive {
  width: 100%;
  height: 0;

  transition: all 0.3s ease-in;
}

.row > .main {
  width: 100%;
  height: auto;
  padding: 1rem;
  text-align: justify !important;

  font-size: 16px;
  font-weight: bold;
  
  transition: all 0.3s ease-in;
}

.disc {
  width: 0;
  height: 0;
  margin: 1.5rem;
  border: 0 solid var(--secondary);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.disc__active {
  width: 40px;
  height: 40px;
  margin: 1rem;
  border: 6px solid hotpink;
  border-radius: 0%;
  transform: rotate(180deg);
}

.skillbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 48px;

  padding: 0rem 1.5rem;
  margin-bottom: 0.5rem;
}

.progress_bar {
  position: relative;
  display: inherit;
  width: 100%;
  padding: 0rem 1rem;
}

.progress_bar__part {
  width: 20%;
  height: 16px;
}

.progress_bar__part__start {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.progress_bar__part__middle {
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
}

.progress_bar__part__end {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.header {
  color: rgb(0, 0, 0);
  font-size: var(--text-header);
  font-weight: bold;
}

.headline {
  color: rgb(65, 65, 65);
  font-size: var(--text-headline);
  font-weight: bold;
  text-indent: 1rem;
}

.subheader {
  font-size: var(--text-para);
}

.info {
  color: rgb(65, 65, 65);
  font-size: var(--text-para);
  text-indent: 1.2rem;
}

@media screen and (max-width: 958px) {
  .headline {
    text-indent: 0;
  }

  .info {
    text-indent: 0;
  }
}

.text__capital {
  text-transform: uppercase;
}

.font__country {
  font-family: 'Country';
}

.font__PTSans {
  font-family: 'PTSans';
}

.font__Nunito {
  font-family: 'Nunito';
}

.font__Helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

.right_box {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.slide_active {
  display: inherit;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.slide_inactive {
  display: none; 
  width: 100%;
  height: 100%;
}

.slide_in__from_top, .slide_out__to_top {
  top: -100%;
  transition: all 0.5s ease-in;
}

.slide_in__from_bottom, .slide_out__to_bottom {
  top: 100%;
  transition: all 0.5s ease-in;
}

.slide_in__done {
  top: 0%;
  transition: all 0.5s ease-in;
}

.profile {
  display: flex;
  align-items: flex-start;
  
  flex-shrink: 0;

  background-color: var(--primary);
  border-radius: 1.5rem;

  padding: 1.5rem;
}

.brief_info {

  width: 12em;
}

.profile_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 154px;
  height: 180px;
  overflow: hidden;
  border-radius: 128px;
}

.profile_img > img {
  height: 180px;
}

.contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.contact_info a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: var(--background);
  background-color: var(--text);
  border-radius: 8px;

  padding: 2px;
  margin: 2rem 2.6px 0px 2.6px;
}

.profile > .introduction {
  padding: 0rem 1rem;
}

.introduction > .name {
  color: #cab3a9;
  font-size: var(--text-para);
  font-weight: bold;
}

.introduction > .major {
  color: #e4d5ce;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 958px) {
  .introduction > .major {
    font-size: 18px;
  }
}

.introduction > .tell_about_myself {
  color: #f4efed;
  font-size: 16px;
  /* font-weight: bold; */
  text-align: justify !important;
}

.contact_section {
  color: var(--text);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.contact_section a {
  color: chocolate; 
  padding: 0;
  text-decoration: none;
}

.contact_section p {
  margin: 0px;
  padding-top: 1rem;

  font-size: smaller;
  color: rgb(5, 5, 5);
}

.email_form {
  width: 100%;
  height: auto;

  display: grid;
  gap: 0.2rem 0.4rem;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.email_form input {
  grid-row: span 1;
  grid-column: span 2;
}

.email_form textarea {
  grid-row: span 3;
  grid-column: span 2;
}

.email_form * {
  padding: 1rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

.email_form p {
  align-self: flex-start;
  justify-self: left;

  padding: 0;
  font-weight: bolder;
  font-size: 12px;
}

.email_form button {
  width: 200px;
  
  background-color: var(--primary);

  border: none;
  border-radius: 4px;

  justify-self: right;
}
